<head>
  <link rel="stylesheet" href="/static/styling.css">

  <script src="/static/script.js"></script>
</head>

<h1 class="my-class" id="hello">
  Welcome to my website!
</h1>

<p class="center-para">
  {{someText}}
</p>

<div class="center-para">
  <button class="big-button" onclick="changeColor()">
    Mystery Button 1
  </button>
  <button class="big-button" onclick="changeSize()">
    Mystery Button 2
  </button>
  <button class="big-button" onclick="changeShadow()">
    Mystery Button 3
  </button>
</div>
